#widget {
    position: absolute;
    width: 300px;
    height: 512px;
    padding: 0px;
    border: solid 0px black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    /*Изменил*/
    right: 15px;
    bottom: 105px;
} 

#botOpen{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 80px;
    height: 80px; 
}

#header {
    width: 300px;
    height: 60px;
    background-color: #3874E0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} 

#header img {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 7px;
    top: 7px;
}

#header header-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 60px;
    top: -4px;
    font-size: 20px;
    color: white;
}

img#exit{
    width: 15px;
    height: 15px;
    left: 280px;
    top: 5px;
}

#chat {
    overflow: auto;
    width: 290px;
    height: 330px;
    padding: 5px;
    border-top: solid 0px black;
    border-bottom: solid 0px black;
}  

#faqChat {
    overflow: auto;
    width: 290px;
    height: 375px;
    padding: 5px;
    border-top: solid 0px black;
    border-bottom: solid 0px black;
    display: inline;
    align-content: left;
} 

#botChat {
    overflow: auto;
    width: 290px;
    height: 285px;
    padding: 5px;
    border-top: solid 0px black;
    border-bottom: solid 0px black;
}

.faqSemiButtonContainer {   
    overflow: clip;
    width: 265px;
    height: 50px;
    padding: 5px;
}
.faqButtonLeft {
    overflow: auto;
    position: fixed;
    margin-left: 0px;
    left: 15px;
    width: 125px;
    height: 40px;
    border: 1px solid #979797d5;
    background-color: #EFF3F6;
    border-radius: 8px;
    padding: 3px;
    margin: 5px 0;
    font-family: "ProximaNovaRegular";
    font-size: 14px;
}
.faqButtonRight {
    overflow: auto;
    position: fixed;
    margin-right: 0px;
    left: 155px;
    width: 125px;
    height: 40px;
    border: 1px solid #979797d5;
    background-color: #EFF3F6;
    border-radius: 8px;
    padding: 3px;
    margin: 5px 0;
    font-family: "ProximaNovaRegular";
    font-size: 14px;
}
.userMessage {
    overflow: auto;
    border: 1px solid #979797d5;
    background-color: #EFF3F6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 3px;
    margin-left: 50px;
    margin-top: 5px;
    width: 220px;
    font-family: "ProximaNovaRegular";
    font-size: 14px;
}
.botMessage {
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 3px;
    margin-top: 5px;
    width: 220px;
    font-family: "ProximaNovaRegular";
    font-size: 14px;
}
#chat::after {
    content: "";
    clear: both;
    display: table;
}
#Sender {
    float: left;
    color: #999;
}
#Time {
    float: right;
    color: #999;
}
#buttonContainer {
    width: 290px;
    height: 90px;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FFFFFF;
}/*
#faqButtonContainer {
    width: 290px;
    height: 375px;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FFFFFF;
}*/
#botButtonContainer {
    width: 289px;
    height: 95px;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ffffff;
    border-top: solid 1px rgb(90, 90, 90);
}
.button {
    border: 2px solid #214994;
    background-color: #3874E0;
    border-radius: 8px;
    padding: 5px;
    margin: 2px 0;
    outline: none;
    font-family: "ProximaNovaSemibold";
    font-size: 12px;
    color: white;
    transition: 300ms;
}

.newW{
    width: calc(100%-10px);
}

.button:hover{
    background-color: #5a8ff1;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 0px 0px;
    border: 0px solid #ccc;
    border-top: none;
  }

@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "ProximaNovaSemibold";
    src: url("../fonts/ProximaNovaSemibold.woff2") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 